force-app/main/default/flows/Newsletter_Signup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Generate_Guid</name>
        <label>Generate Guid</label>
        <locationX>669</locationX>
        <locationY>49</locationY>
        <actionName>GuidUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_Update_Signup_Values</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>newguidid</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>guid</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assignement_Make_Active</name>
        <label>Make Active</label>
        <locationX>285</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>Record_Existing_Subscription.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Make_Inactive</name>
        <label>Make Inactive</label>
        <locationX>474</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>Record_Existing_Subscription.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Add_Subscription</name>
        <label>Add Subscription</label>
        <locationX>1048</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>Records_Subscriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record_New_Subscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscribe_to_Newsletters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_New_Subscription</name>
        <label>New Subscription</label>
        <locationX>1274</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>Record_New_Subscription.Signup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_New_Signup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_New_Subscription.Newsletter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopItem_Newsletter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Add_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Update_Signup_Values</name>
        <label>Update Signup Values</label>
        <locationX>789</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>Record_New_Signup.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>guid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uniquekey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>guid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Signup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Find_Unique_Key</name>
        <label>Find Unique Key</label>
        <locationX>398</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Get_Newsletters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unique Key Not Found</defaultConnectorLabel>
        <rules>
            <name>Outcome_Found_Unique_Key</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Existing_Signup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Existing_Subscriptions</targetReference>
            </connector>
            <label>Found Unique Key</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Refresh_Subscriptions</name>
        <label>Refresh Subscriptions</label>
        <locationX>599</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Finished</defaultConnectorLabel>
        <rules>
            <name>Outcome_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>refreshSubscriptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subscription</targetReference>
            </connector>
            <label>Refresh</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Subscription_Update</name>
        <label>Subscription Update</label>
        <locationX>373</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Assignement_Make_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Outcome_Currently_Not_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Existing_Subscription.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignement_Make_Active</targetReference>
            </connector>
            <label>Currently Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Unique_Key_Available</name>
        <label>Unique Key Available</label>
        <locationX>204</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Get_Newsletters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Unique Key</defaultConnectorLabel>
        <rules>
            <name>Outcome_Unique_Key_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uniquekey</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Signup</targetReference>
            </connector>
            <label>Unique Key Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Wants_Newsletter</name>
        <label>Wants Newsletter</label>
        <locationX>1264</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Loop_Subscribe_to_Newsletters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not Want Newsletter</defaultConnectorLabel>
        <rules>
            <name>Outcome_Wants_Newsletters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Newsletters</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopItem_Newsletter.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_New_Subscription</targetReference>
            </connector>
            <label>Wants Newsletter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoiceSet_Newsletters</name>
        <dataType>String</dataType>
        <displayField>Title__c</displayField>
        <object>Newsletter__c</object>
        <sortField>Title__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>redirecturl</name>
        <dataType>String</dataType>
        <expression>{!currenturl} &amp; &quot;?uniquekey=&quot; &amp; {!guid}</expression>
    </formulas>
    <interviewLabel>Newsletter Signup {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Newsletter Signup</label>
    <loops>
        <name>Loop_Subscribe_to_Newsletters</name>
        <label>Subscribe to Newsletters</label>
        <locationX>1040</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>LoopItem_Newsletter</assignNextValueToReference>
        <collectionReference>Records_Newsletters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Wants_Newsletter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Subscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Signup</name>
        <label>New Signup</label>
        <locationX>898</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Loop_Subscribe_to_Newsletters</targetReference>
        </connector>
        <inputReference>Record_New_Signup</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscriptions</name>
        <label>Create Subscriptions</label>
        <locationX>901</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Screen_Confirm_Subscription</targetReference>
        </connector>
        <inputReference>Records_Subscriptions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Newsletters</name>
        <label>Newsletters</label>
        <locationX>406</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Select_Newsletter</targetReference>
        </connector>
        <object>Newsletter__c</object>
        <outputReference>Records_Newsletters</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <sortField>Title__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Signup</name>
        <label>Get Signup</label>
        <locationX>213</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Find_Unique_Key</targetReference>
        </connector>
        <filters>
            <field>UniqueKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>uniquekey</elementReference>
            </value>
        </filters>
        <object>Signup__c</object>
        <outputReference>Record_Existing_Signup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName__c</queriedFields>
        <queriedFields>FirstName__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>UniqueKey__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription</name>
        <label>Get Subscription</label>
        <locationX>609</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Subscription_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>refreshId</elementReference>
            </value>
        </filters>
        <object>Newsletter_Subscription__c</object>
        <outputReference>Record_Existing_Subscription</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>406</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Screen_Existing_Subscriptions</targetReference>
        </connector>
        <inputReference>Record_Existing_Subscription</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Confirm_Subscription</name>
        <label>Confirm Subscription</label>
        <locationX>737</locationX>
        <locationY>279</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Unique_Key_Available</targetReference>
        </connector>
        <fields>
            <name>Display_Confirm_Message</name>
            <fieldText>&lt;p&gt;Congratulations!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have subscribed. Click next to see your subscriptions, and your unique url to return to manage your subscriptions is:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!redirecturl}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Existing_Subscriptions</name>
        <label>Existing Subscriptions</label>
        <locationX>509</locationX>
        <locationY>406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Refresh_Subscriptions</targetReference>
        </connector>
        <fields>
            <name>LC_DataTableNewletter</name>
            <extensionName>c25lws:datatableNewsletter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>signupId</name>
                <value>
                    <elementReference>Record_Existing_Signup.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>refreshSubscriptions</assignToReference>
                <name>refreshDataTable</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>refreshId</assignToReference>
                <name>refreshId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Newsletter</name>
        <label>Select a Newsletter</label>
        <locationX>541</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Apex_Generate_Guid</targetReference>
        </connector>
        <fields>
            <name>Input_Newsletters</name>
            <choiceReferences>ChoiceSet_Newsletters</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Record_New_Signup.FirstName__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Record_New_Signup.LastName__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Input_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Record_New_Signup.Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Decision_Unique_Key_Available</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>currenturl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>guid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopItem_Newsletter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Newsletter__c</objectType>
    </variables>
    <variables>
        <name>looplist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newguidid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Existing_Signup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Signup__c</objectType>
    </variables>
    <variables>
        <name>Record_Existing_Subscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Newsletter_Subscription__c</objectType>
    </variables>
    <variables>
        <name>Record_New_Signup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Signup__c</objectType>
    </variables>
    <variables>
        <name>Record_New_Subscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Newsletter_Subscription__c</objectType>
    </variables>
    <variables>
        <name>Records_Newsletters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Newsletter__c</objectType>
    </variables>
    <variables>
        <name>Records_Subscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Newsletter_Subscription__c</objectType>
    </variables>
    <variables>
        <name>refreshId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refreshSubscriptions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uniquekey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
